<div style="margin:50px">
<label>City: </label><input type="text" /><br />
<label>County: </label><input type="text" /><br />
<label>Age of Person: </label><input type="text" /><br />
<label>Date: </label><input type="text" /><br />
<label>ATV: </label><input type="checkbox" /><br />
<label>Tractor: </label><input type="checkbox" /><br />
</div>
