
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Man dies when tractor rolls over in Hendricks County</h3>
        </div>
        <div class="panel-body">
            <a onclick="showPreview('http://www.wthr.com/story/23499073/2013/09/22/man-dies-in-hendricks-county-tractor-rollover');">http://www.wthr.com/story/23499073/2013/09/22/man-dies-in-hend...</a>
            <br />
            <button class="btn-success" style="float: right" onclick="showPreview('http://www.wthr.com/story/23499073/2013/09/22/man-dies-in-hendricks-county-tractor-rollover');">Open</button>
            <button class="btn-warning" style="float: right; margin-right: 5px" onclick="location.href='@Url.Action("Process", new {url="http://www.wthr.com/story/23499073/2013/09/22/man-dies-in-hendricks-county-tractor-rollover" })'">Process</button>
        </div>
    </div>
    <div class="panel panel-danger">
        <div class="panel-heading">
            <h3 class="panel-title">Drayton-area man dies in fatal tractor crash</h3>
        </div>
        <div class="panel-body">
            <a onclick="showPreview('http://kitchener.ctvnews.ca/drayton-area-man-dies-in-fatal-tractor-crash-1.1476488');">http://kitchener.ctvnews.ca/drayton-area-man-dies-in-fatal-tractor-crash-1.1476488</a>
            <br />
            <button class="btn-success" style="float: right" onclick="showPreview('http://kitchener.ctvnews.ca/drayton-area-man-dies-in-fatal-tractor-crash-1.1476488');">Open</button>
            <button class="btn-warning" style="float: right; margin-right: 5px" onclick="location.href='@Url.Action("Process", new {url="http://kitchener.ctvnews.ca/drayton-area-man-dies-in-fatal-tractor-crash-1.1476488" })'">Process</button>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Boy, 11, dies after being hit by a tractor at petting farm while driver...</h3>
        </div>
        <div class="panel-body">
            <a onclick="showPreview('http://www.dailymail.co.uk/news/article-2388695/Boy-11-dies-hit-tractor-petting-farm-driver-arrested-suspicion-drink-driving.html');">http://www.dailymail.co.uk/news/article-2388695/Boy-11-dies-hit-tractor-...</a>
            <br />
            <button class="btn-success" style="float: right" onclick="showPreview('http://www.dailymail.co.uk/news/article-2388695/Boy-11-dies-hit-tractor-petting-farm-driver-arrested-suspicion-drink-driving.html');">Open</button>
            <button class="btn-warning" style="float: right; margin-right: 5px">Process</button>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Man dies when tractor rolls over in Hendricks County</h3>
        </div>
        <div class="panel-body">
            <a onclick="showPreview('http://www.wthr.com/story/23499073/2013/09/22/man-dies-in-hendricks-county-tractor-rollover');">http://www.wthr.com/story/23499073/2013/09/22/man-dies-in-hend...</a>
            <br />
            <button class="btn-success" style="float: right" onclick="showPreview('http://www.wthr.com/story/23499073/2013/09/22/man-dies-in-hendricks-county-tractor-rollover');">Open</button>
            <button class="btn-warning" style="float: right; margin-right: 5px">Process</button>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Drayton-area man dies in fatal tractor crash</h3>
        </div>
        <div class="panel-body">
            <a onclick="showPreview('http://kitchener.ctvnews.ca/drayton-area-man-dies-in-fatal-tractor-crash-1.1476488');">http://kitchener.ctvnews.ca/drayton-area-man-dies-in-fatal-tractor-crash-1.1476488</a>
            <br />
            <button class="btn-success" style="float: right" onclick="showPreview('http://kitchener.ctvnews.ca/drayton-area-man-dies-in-fatal-tractor-crash-1.1476488');">Open</button>
            <button class="btn-warning" style="float: right; margin-right: 5px">Process</button>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Boy, 11, dies after being hit by a tractor at petting farm while driver...</h3>
        </div>
        <div class="panel-body">
            <a onclick="showPreview('http://www.dailymail.co.uk/news/article-2388695/Boy-11-dies-hit-tractor-petting-farm-driver-arrested-suspicion-drink-driving.html');">http://www.dailymail.co.uk/news/article-2388695/Boy-11-dies-hit-tractor-...</a>
            <br />
            <button class="btn-success" style="float: right" onclick="showPreview('http://www.dailymail.co.uk/news/article-2388695/Boy-11-dies-hit-tractor-petting-farm-driver-arrested-suspicion-drink-driving.html');">Open</button>
            <button class="btn-warning" style="float: right; margin-right: 5px">Process</button>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Man dies when tractor rolls over in Hendricks County</h3>
        </div>
        <div class="panel-body">
            <a onclick="showPreview('http://www.wthr.com/story/23499073/2013/09/22/man-dies-in-hendricks-county-tractor-rollover');">http://www.wthr.com/story/23499073/2013/09/22/man-dies-in-hend...</a>
            <br />
            <button class="btn-success" style="float: right" onclick="showPreview('http://www.wthr.com/story/23499073/2013/09/22/man-dies-in-hendricks-county-tractor-rollover');">Open</button>
            <button class="btn-warning" style="float: right; margin-right: 5px">Process</button>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Drayton-area man dies in fatal tractor crash</h3>
        </div>
        <div class="panel-body">
            <a onclick="showPreview('http://kitchener.ctvnews.ca/drayton-area-man-dies-in-fatal-tractor-crash-1.1476488');">http://kitchener.ctvnews.ca/drayton-area-man-dies-in-fatal-tractor-crash-1.1476488</a>
            <br />
            <button class="btn-success" style="float: right" onclick="showPreview('http://kitchener.ctvnews.ca/drayton-area-man-dies-in-fatal-tractor-crash-1.1476488');">Open</button>
            <button class="btn-warning" style="float: right; margin-right: 5px">Process</button>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Boy, 11, dies after being hit by a tractor at petting farm while driver...</h3>
        </div>
        <div class="panel-body">
            <a onclick="showPreview('http://www.dailymail.co.uk/news/article-2388695/Boy-11-dies-hit-tractor-petting-farm-driver-arrested-suspicion-drink-driving.html');">http://www.dailymail.co.uk/news/article-2388695/Boy-11-dies-hit-tractor-...</a>
            <br />
            <button class="btn-success" style="float: right" onclick="showPreview('http://www.dailymail.co.uk/news/article-2388695/Boy-11-dies-hit-tractor-petting-farm-driver-arrested-suspicion-drink-driving.html');">Open</button>
            <button class="btn-warning" style="float: right; margin-right: 5px">Process</button>
        </div>
    </div>
